In [7]:
import random
from datetime import datetime

In [6]:
random.randint(100000000, 999999999)

988090773

In [13]:
datetime.now().strftime("%H%M%S")

'121914'

In [11]:
now = datetime.now()
date =now.date()
current_time = now.strftime("%H%M%S")

current_time

'121851'

In [16]:
str(date)+"_"+ str(current_time) + str(random.randint(100000000, 999999999))

'2022-03-27_121851898361615'

In [17]:
import pandas as pd

In [55]:
csv=pd.read_csv('data/training_data/hr_employee_churn_data.csv')

In [27]:
csv

,empid,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,salary,left
0,1,0.38,0.53,2,157,3,0,0,low,1
1,2,0.80,0.86,5,262,6,0,0,medium,1
2,3,0.11,0.88,7,272,4,0,0,medium,1
3,4,0.72,0.87,5,223,5,0,0,low,1
4,5,0.37,0.52,2,159,3,0,0,low,1
...,...,...,...,...,...,...,...,...,...,...
14994,14995,0.40,0.57,2,151,3,0,0,low,1
14995,14996,0.37,0.48,2,160,3,0,0,low,1
14996,14997,0.37,0.53,2,143,3,0,0,low,1
14997,14998,0.11,0.96,6,280,4,0,0,low,1
14998,14999,0.37,0.52,2,158,3,0,0,low,1

In [54]:
import numpy as np

In [64]:
csv['salary'].replace('low',np.nan,inplace=True)
csv['salary'].replace('high',np.nan,inplace=True)
csv['salary'].replace('medium',np.nan,inplace=True)

In [74]:
csv.to_csv("D:", index=None)

PermissionError: [Errno 13] Permission denied: 'D:'

In [69]:
for columns in csv:
    if (len(csv[columns]) - csv[columns].count()) == len(csv[columns]):
            print(columns)
    else:
        print('sab sai hai')

sab sai hai
sab sai hai
sab sai hai
sab sai hai
sab sai hai
sab sai hai
sab sai hai
sab sai hai
salary
sab sai hai

In [68]:
csv['salary'].count()

0